.reviewContainer{
    width: 100%;
    height: 30%;
    display: flex;
    flex-direction: column;
    margin-top: 3%;
    padding:3%;
    background-color: #f6f6f6;

}

.review{
    font-size: 1.2em;
    padding-top:3%;
}

.userName{
    color: #6b9080;
}

.moreReviewButton{
        margin-top: 10px;
        display: inline-block;
        outline: none;
        cursor: pointer;
        padding: 0 16px;
        background-color: #A4C3B2;
        border-radius: 0.25rem;
        border: 1px solid transparent;
        color: #f9f6f2;
        font-size: 13px;
        font-weight: bold;
        line-height: 30px;
        text-align: center;
    
    
}