body{
  padding: 0%;
  margin: 0%;
}

.page-header{
  display: grid;
  grid-template-columns: repeat(3,1fr);
  grid-gap: 5%;
  justify-content: center;
  width: 100%;
  height:5em;
  background-color: #A4C3B2;
  align-items: center;
}

.img-container{
  width: 100%;
  overflow: hidden;
}

.img-container img{
  width: 100%;
  height: 90%;
}

.page-header-item{
  justify-content: center;
  text-align: center;
  color: #F6FFF8;
  width: 100%;
  height:1.2em;
  margin: 0%;
  padding: 1.5em;
}