.container{
    display: flex;
    justify-content: space-evenly;
    width: 80%;
    align-items: flex-start;
    margin: auto;
}

.title {
    color: #6B9080;
    font-family: var(--font-poppins);
    border-left: 5px solid #6B9080;
    padding-left: 3%;
    font-weight: 800;
    font-size: 2em;
    margin-top: 5%;
    margin-bottom: 5%;
    margin-left: 20%;
  }
  

.bookDetailContainer{
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    margin: 0;
}

.bookTitle{
    width: 100%;
}

.authorTitle{
    margin: 0;
}
.publisherTitle{
    margin-bottom: 0;
    margin-top: 2%;
}
.bookImg{
    width: 20%;
    height: 30%;
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}