.container {
  display: flex;
  justify-content: space-evenly;
  width: 80%;
  align-items: flex-start;
  margin: auto;
}

.title {
  color: #6b9080;
  border-left: 5px solid #6b9080;
  padding-left: 3%;
  font-weight: 800;
  font-size: 2em;
  margin-top: 5%;
  margin-bottom: 5%;
  margin-left: 20%;
}

.bookDetailContainer {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  margin: 0;
}

// .bookTitle{
//     width: 100%;
// }

.authorTitle {
  margin: 0;
}
.publisherTitle {
  margin-bottom: 0;
  margin-top: 2%;
}
.bookImg {
  width: 20%;
  height: 30%;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
}

.smallNav {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  margin: auto;
  margin-bottom: 10%;
  font-family: var(--font-poppins);

  button {
    border: none;
    background-color: transparent;
    color: #6b9080;
    width: 10%;
    font-weight: 400;
    font-size: 1em;
    padding-bottom: 0.5%;
    &:hover {
      color: #b2d4c1;
      cursor: pointer;
      border-bottom: 3px solid #b2d4c1;
    }
    &.active {
      color: #b2d4c1;
      cursor: pointer;
      border-bottom: 3px solid #b2d4c1;
    }
// 글로벌 넣으면 유니크 클래스네임 적용안됨

  }
}


.infoSection{
    width: 60%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    // align-items: center;
    margin: auto;
}


.infoHeader{
    display: flex;
    align-content: flex-start;
    justify-content: flex-start;
    color: #6b9080;
}

.infoSubHeader{
    margin-top: 10%;
}

.ratingContainer{
    display: flex;
    justify-content: space-between;

}

.enterButton{
    margin-top: 10px;
    display: inline-block;
    outline: none;
    cursor: pointer;
    padding: 0 16px;
    background-color: #A4C3B2;
    border-radius: 0.25rem;
    border: 1px solid transparent;
    color: #f9f6f2;
    font-size: 13px;
    font-weight: bold;
    line-height: 30px;
    text-align: center;
}

.recommendationContainer{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.recoMention{
    margin: 0;
}
