.bookImg{
    width: 100px;
    height: 130px;
}

.mainContainer{
    width: 70%;
    display: flex;
    margin: auto;
    justify-content: space-evenly;
    padding-bottom: 5%;
    border-bottom: 1px solid #a4c3b294;
}
.bookContianer{
    display: flex;

}