.itemContainer{
    display: flex;
    width: 70%;
    justify-content: space-between;
    align-items: center;
    margin: auto;
}

.date{
    color: gray;
}

.bookImage{
    width: 55px;
    height: 70px;
}