.container{
    display: flex;
    align-items: center;
    justify-content: center;
}

.title{
    color: #6b9080;
    
    font-family: var(--font-poppins);
    border-left: 5px solid #6b9080;
    padding-left: 3%;
    font-weight: 800;
    font-size: 2em;
    margin-top: 10%;
    margin-left: 16rem;
}